@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto; 
  height: 100vh;
}

.conversation-item {
  position: relative;
}

.conversation-item:hover .pencil-icon {
  display: flex;
}